html{
    font-family:'Raleway', sans-serif;
    text-decoration: none;
}

p{
    font-weight: 300;
    font-size: 12px;
    margin-left: 50px;
}

h1{
    font-weight:600;
    font-size: 40px;
    margin-left: 100px;
}

.form{
    width: 60%;
    margin: auto;
    
}
.container { 
    width: 60%;
    margin: 50px auto;
}
.row {
    display: flex;
    width: 100%;
    margin: 0 50px;
}

.column {
    flex: 70%;
    width: 100%;
    padding: 0 50px;

}
button{
    text-align: center;
    background-color: black;
    color: white;
    font-size:10px; 
    padding: 15px 40px;
    margin-top: 20px;
    margin-left: 100px;
}

button:hover {
    background-color: red;
}
input{
    border: none;
    border-bottom: 1px solid darkgrey;
    margin-left: 50px
}

input:hover {
    border-bottom: 1px solid red ;
}
